<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="facebook" class="pe.isil.Facebook"></bean>
    <bean name="whatsapp" class="pe.isil.Whatsapp"></bean>
    <bean name="pinterest" class="pe.isil.Pinterest"></bean>

    <bean name="gallery" class="pe.isil.Gallery">

<!--        inyeccion de dependencia por constructor-->
        <constructor-arg name="sharingApp" ref="whatsapp"></constructor-arg>

<!--        inyeccion de dependencia por setter-->
<!--        <property name="sharingApp" ref="facebook"></property>-->
    </bean>

</beans>